# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Python venv
scripts/benchmarks/venv

# Other
scripts/benchmarks/gmtkn55/__pycache__
scripts/benchmarks/gmtkn55/GMTKN55.yaml
scripts/benchmarks/models/__pycache__
scripts/benchmarks/models/eqV2_153M_omat.pt