# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Python venv
scripts/gmtkn55/venv
scripts/gmtkn55/__pycache__
scripts/gmtkn55/GMTKN55.yaml

# Checkpoints
scripts/gmtkn55/eqV2_153M_omat.pt